.displayAd{
  overflow-x: hidden;
}

.itemSlider{
  height: 400px;
  width: 100%;
  background-color: black;
}

.itemSlider img{
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}

.carousal-card{
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.relatedSlider{
}

p{
  font-size: 0.8em;
}

.nav{
  margin-top: 55px;
}

.input-group{
  width: 400px;

  
}

.search-icon{
  color:black;
}
